body{
  padding: 10em 2em 0 2em;
}

.pad-bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.drumpad {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, margin-top 0.3s ease;
  font-size: large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.power p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
}

.slider-container {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  transition: transform 0.3s ease;
}

.slider-on {
  transform: translateX(30px);
  background-color: #0486c7;
}

.slider-off {
  transform: translateX(0);
}

#display{
  background-color: aliceblue;
  margin: 15px;
}